
*.log
LunarEscape/Saved/Config/Windows/EditorPerProjectUserSettings.ini
LunarEscape/Saved/Config/Windows/EditorPerProjectUserSettings.ini
LunarEscape/Saved/Config/Windows/EditorPerProjectUserSettings.ini
LunarEscape/Saved/AutoScreenshot.png
LunarEscape/Saved/Config/CrashReportClient/UE4CC-Windows-831E5FA84C855C8BD33BCAABD957108D/CrashReportClient.ini
LunarEscape/Saved/Config/CrashReportClient/UE4CC-Windows-C82581734B5CC7FC6B9EE6BB4CF0A6BA/CrashReportClient.ini
