html,
body {
  height: 100%;
  margin: 0;
}

body {
  --size: 15px;
  --color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color);

  /*background-image: url("CircuitBreakerMap.png");*/
  background-color: green;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 85% 86%;
  background-repeat: no-repeat;
  background-position: center;

}

/*
@media (min-height: 425px) {
  body {
    --size: 25px;
  }
  footer {
    height: 40px;
    font-size: 1em;
  }
}
*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  /*transform: scale(0.96);*/
  outline: thick solid #000000;
  outline-width: 20px;
  display: grid;
  grid-template-columns: repeat(103, auto);
  grid-template-rows: repeat(55, auto);
  /*border: var(--size) solid var(--color);*/
}
.tile {
  position: relative;
  width: var(--size);
  height: var(--size);
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.footer {
  color: white;
}